/*
A VOIR
  compatibilitée navigateurs
    border radius
    transition
    animation

  Serach
    responsive a faire 
      Intervitir bouton desktop et bouton tablette/mobile
  
  gallery
    savoir si en mode desktop 
      sur les 21er col si la 2em doit séetendre en bas
                2em
      1er   --- |
      3eme  --- |
                |
    si non fair un responsive en descendant la 2eme
*/

:root {
	--color-charte-blue: #0065fc;
	--color-charte-lblue: #deebff;
	--color-bg-gray: #f2f2f2;
	--default-pad: 45px;
}
body {
	font-family: "Raleway", "Times New Roman", Times, serif; /* utilise Raleway sur l'essemble du site */
	font-size: 14px;
	line-height: 1.4;
	margin: 0;
	
	background-color: white;
}
* {
	box-sizing: border-box;
}
/* par default les liens sons sans décoration de la couleur de la charte imposé */
a {
	text-decoration: none;
	color: var(--color-charte-blue);
	font-size: 15px;
}
/* ul > li uniquement utilisé pour le menu, modifier le sélécteur si jamais je doit en utiliser ailleur genr pour le fouteur idk */
li {
	list-style-type: none;
}
/* Reset des margin et padding*/
img,
p,
ul,
h2,
h1 {
	margin: 0;
	padding: 0;
}
/* h1 par default de 21px bold */
h1 {
	font-size: 22px;
	font-weight: bold;
}
/* Désactivation des liens visité */
a:visited {
	color: none;
}

/* utilitaires pour les margin */
.mtb-auto {
	margin: auto 0 auto 0;
}
.mb-20 {
	margin-bottom: 20px;
}
.mt-8 {
	margin-top: 8px;
}

/* 
  ############################
  Logo + MEnu Principal 
*/
/* header - logo + nav */
header {
	margin: 0;
	padding: 0 var(--default-pad) 0 var(--default-pad);
	display: flex; /* pour pouvoir mettre le logo a coté dumenu */
	justify-content: space-between; /* pour mettre le menu a droite du logo */
	 /* [class*="col"]:nth-child(1)  */
}
/* 
  Logo 
*/
.navbar-top-logo {
	padding: 0;
	margin: 35px 0 auto -18px;
}
.navbar-top-logo img {
	width: auto;
	height: 50px;
}
/* 
  Menu Principal
*/
/* unordered list */
ul.navbar-top-menu {
	display: table; /* pour pouvoir afficher un border-top au relower des liens menu */
	height: 100%;
}
/* unordered list - items */
li.menu-item {
	display: table-cell; /* cellule a l'horizontal pour le menu */
	width: 200px;
	vertical-align: middle; /* centrer le lien verticalement */
	text-align: center; /* centrer le lien horizontalement */
	border-top: 3px solid transparent; /* de base je met un border-top transaprent pour eviter une déformation de la cellule quand l'utilisateur activera le relower */
}
li.menu-item:last-child {
	font-weight: bold; /* pour coller a la maquette et mettre le lien s'inscrire en gras */
}
/* unordered list - items : hover */
li.menu-item:hover {
	transition: border 1s;
	border-top: 3px solid black;
	cursor: pointer;
}
/* unordered list - items : hover a */
li.menu-item:hover a {
	transition: color .5s;
	color: black;
}

/*
  ############################
*/
#site-title {
	padding: 20px var(--default-pad) 10px var(--default-pad);
}

/*
  ############################
*/
main {
	margin: 0;
	padding: 0;
}

/*
  ############################
  Recherche
    #section_search
      form
        icone -> input text -> input submit
    /\ Mobile - Faire le responsive en intergchangent le bouton text avec le bouton icone et reduire la width de l'input 
*/
/* Zone Du formulaire de recherche */
#section_search {
	padding: 0 var(--default-pad) 20px var(--default-pad);
}
#section_search form {
	display: flex; /* barre de rechere en ligne = Ico map + input + bt submit */
	flex-direction: row;
}
/* 
  Div Icone 
    situé a guauche, doit rester sur tous les format 
*/
.form-icon {
	background-color: #e0e0e0;

	border-radius: 10px 0 0 10px;

	padding: 6px 5px 0px 5px;
	border: 2px solid #e0e0e0;
	border-right-width: 0px;
}
/* Icone - i - fa-solid fa-location-dot */
.form-icon i {
	margin-top: 5px;
	font-size: 20px;
}
/* 
  Div input text 
    situé apres l'icone (ne change pas?) 
    tablette  - ? 
    mobile    - ?
*/
.form-icon-text {
	background-color: #ffffff;
	border: 2px solid #e0e0e0;
	border-right-width: 0px;
	border-left-width: 0px;
}
/* Input text */
.form-icon-text input {
	height: 100%;
	border: 0 none;
	font-size: 17px;
	font-weight: bold;
}
/* 
  Div submit
    peut étre ajuster le padding suivant le format tablette et mobile 
    tablette  - ? 
    mobile    - ?   
*/
.form-icon-submit {
	background-color: #0065fc;
	padding: 5px 5px 5px 0;
	border-radius: 0 10px 10px 0;
	cursor: pointer;
	border: 1px solid #0065fc;
	border-left-width: 0px;
	display: inline-flex;
}
/* 
  button formulaire avec text pour le format Desktop 
    tablette  - ? 
    mobile    - ?     
*/
.form-icon-submit button {
	cursor: pointer;

	display: inline-flex;
	justify-content: center;
	align-items: center;

	background-color: transparent;
	padding: 0;
	border: 0;
	border-radius: 0;
	color: inherit;
	appearance: none;

	font-size: 17px;
	font-weight: bold;
	color: white;

	padding: 7px;
}
.form-icon-submit:hover button {
	transition: color 0.5s;
	color: black;
}

/* 
  ############################
  Filtres
    jme suis base sur tout un tas de pixel pour gerer les 
    iones + bouton "A CHANGER PAR LA SUITE".
*/
#section_filtres {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0 var(--default-pad) 10px var(--default-pad);
}
/* Titre */
#section_filtres h2 {
	font-weight: bold;
	font-size: 18px;
	margin-right: 5px;
}
/* Icone + boutons */
.filtres-boxs {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.filtres-box {
	border: 3px solid var(--color-charte-lblue);
	border-radius: 30px;
	height: 43px;
	width: auto;
	margin-left: 10px;
	margin-bottom: 10px;
}
.filtres-box:hover {
	cursor: pointer;
}
/* Icone */
.filtres-box-icone {
	position: absolute;
	width: 47px;
	height: 47px;
	font-size: 20px;
	color: var(--color-charte-blue);
	background-color: var(--color-charte-lblue);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	padding: 14px;
	margin-top: -5px;
	margin-left: -10px;
}
/* bouton - texte */
.filtres-box p {
	padding-left: 45px;
	padding-top: 7px;
	padding-right: 10px;
	font-weight: bold;
	font-size: 16px;
	white-space: nowrap;	
}

.filtres-box:hover p {
	transition: color 0.5s;
	color: var(--color-charte-blue);
}
.filtres-box:nth-child(2):hover i,
.filtres-box:nth-child(3):hover i {
	/* background-color: transparent; */
	animation-name: anim_heart;
	animation-duration: 1s;
	animation-fill-mode: none;
	/* animation-iteration-count: infinite; */
}
.filtres-box:nth-child(1):hover i,
.filtres-box:nth-child(4):hover i {
	/* background-color: transparent; */
	animation-name: anim_dog;
	animation-duration: 1s;
	animation-fill-mode: none;
	/* animation-iteration-count: infinite; */
}

/*
  ############################
*/
.col-auto {
	flex: 0 0 auto;
	width: auto;
}

/*
queries 
  tablette  --default-pad
  movbile   padding: 0 0 0 0;
*/
#section_hebergements{
	padding: 0 var(--default-pad) 0 var(--default-pad);
}

/* 
  desktop 
    flex-direction row-reverse
    flex-wrap: nowrap;
      herbergements_pop   Droite  Les plus populaires
      herbergements       Guauche Hébergements à Marseille

  tablette
    flex-direction column-reverse
    flex-wrap: nowrap;
      herbergements_pop  col 2
      herbergements      col 1
  mobile
    flex-direction: row-reverse
    flex-wrap: wrap;
      herbergements_pop   col 1
      herbergements       col 2
*/
.row {
	display: flex; /* rendre le conteneur flexible */
  flex-direction: row-reverse; /* (min-width: 769px) and (max-width: 992px)  = column-reverse */
  justify-content: flex-end; /* Éléments flexibles groupés à la fin */
  flex-wrap: nowrap; /* les éléments flexibles sont disposés sur une seule ligne */ 
  /* (max-width: 360px) = flex-wrap: wrap */
}

/*
  @media screen and (min-width: 769px) and (max-width: 992px) 
  @media screen and (min-width: 360px) and (max-width: 768px)
    margin-bottom: 30px;
  @media screen and (max-width: 360px)
    margin-bottom: 30px;

  maquettes : partie Hébergements à Marseille
  herbergements > herbergements-items > herbergements-container > herbergements-item
  backgroudColor de la couleur définit par la charte
  radius en mode desktop et tablette
*/
.herbergements {
	background-color: #f2f2f2;
	width: 100%;
	height: auto;
	border-radius: 20px; /* (min-width: 360px) and (max-width: 768px) = 0  */
	padding: 3%;
	margin-right: 20px;  /* (min-width: 360px) and (max-width: 768px) = 0  */

}

/*
  @media screen and (min-width: 769px) and (max-width: 992px) 
  @media screen and (min-width: 360px) and (max-width: 768px)
    margin-bottom: 30px;
    margin-right: 0;
  @media screen and (max-width: 360px)
    margin-bottom: 30px;
    margin-right: 0;

  maquettes : Les plus populaires
  herbergements_pop > herbergements-items > herbergements-container > herbergements-item
  backgroudColor de la couleur définit par la charte
  radius en mode desktop et tablette
*/
.herbergements_pop {
	background-color: #f2f2f2;
	width: 40%;
	height: auto;
	border-radius: 20px;	/* (min-width: 360px) and (max-width: 768px) = 0  */
	padding: 3%;
}

/* .row > * {
	flex-shrink: 0;
	width: 100%;
	max-width: 100%;
} */

/*  
  les items 
    Hébergements à Marseille 
    Les plus populaires 
      ( avoir si modification il doivent etre en collone, mais vu la taille de base élevée ils le seront avec wrap)
    pas de queries prévu 
    herbergements-items > herbergements-container > herbergements-item
    peux contenir plusieurs container
*/
.herbergements-items {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row; /* /\en mode desktop la devi herbergements_pop doit etre column/\ */ 
	align-items: center;
}
/*
  (min-width: 769px) and (max-width: 992px)
    .herbergements_pop .herbergements-container { flex-direction: row;  
  herbergements-container > herbergements-item
  peux contenir plusieurs items
*/
.herbergements-container {
	display: flex;
	flex-direction: row; /*  mobile = lex-direction: column; margin: 0 */ 
	width: 100%;
  justify-content: space-between;
}
.herbergements-container:not(:last-child) {
	margin-bottom: 20px; /* mobile = margin-bottom: 0; */
}
.herbergements_pop .herbergements-container {
	flex-direction: column; /* tablette = .herbergements_pop flex-direction: row; */
}

.herbergements-item {
	background-color: #ffffff;
	width: 100%;
	padding: 5px;
	border-radius: 10px;
	box-shadow: 0.5px 0.5px 4px 0px rgba(87, 87, 87, 0.301);
}
.herbergements .herbergements-item {
	width: 30%;
}
.herbergements .herbergements-item:not(:last-child) {
	/* margin-right: 20px; */
}
.herbergements_pop .herbergements-item:not(:last-child) {
  margin-bottom: 20px;
} 

.herbergements_pop .herbergements-item {
	display: flex;
}

.herbergements-item img {
	object-fit: cover;
}
.herbergements .herbergements-item img {
	width: 100%;
	height: 120px;
	border-radius: 10px 10px 0 0;
}
.herbergements_pop .herbergements-item img {
	width: 125px;
	height: 135px;
	object-fit: cover;
	border-radius: 10px 0px 0px 10px;
}  	

.herbergements-item-infos {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.herbergements_pop .herbergements-item-infos {
	padding: 0 5px 0 5px;
}
.herbergements-infos-price {
	font-size: 1vmax;
}
.herbergements-infos-title {
	font-weight: 750;
	font-size: 1.13vmax;
	object-fit: fill;
	white-space: nowrap;
}
.herbergements_pop .herbergements-infos-title {
	object-fit:none;
	white-space:normal;
}

@media screen and (min-width: 769px) and (max-width: 992px) {
	.row {
		display: flex;
		flex-direction: column-reverse;
		justify-content: flex-end;
	}
	.herbergements{
		margin-bottom: 20px;
	}
  .herbergements_pop {
    width: 100%;
  }  
	.herbergements_pop .herbergements-container {
		flex-direction: row;
	}
	.herbergements_pop .herbergements-item:not(:last-child) {
		margin-right: 20px;
	}
	.herbergements_pop .herbergements-item img {
		width: 50%;
	} 
  .herbergements_pop .herbergements-item:not(:last-child) {
    margin-bottom: 0;
  } 
}




@media screen and (max-width: 769px)  {
	header {
		/* background-color: rgb(1, 83, 56); */
		display: flex;
		flex-direction: column;
	}

	.navbar-top-logo {
		/* background-color: rgba(1, 6, 83, 0.507); */
    margin: 0;
		text-align: center;
	}
	ul.navbar-top-menu {
		display: table;
		width: 100%;
		height: 45px;
	}

	header,
	#section_hebergements{
		padding: 0 0 0 0;
	}

	.row{
		flex-wrap: wrap;
	}
	.herbergements_pop,
	.herbergements{
		border-radius: 0;
		margin-right: 0;
		margin-bottom: 30px;
	}

	.herbergements_pop {
		width: 100%;
	}

	.herbergements-container {
		flex-direction: column;
		margin: 0;
	} 
  .herbergements-container:not(:last-child) {
    margin-bottom: 20px;
  }  

  .herbergements .herbergements-item {
    width: 100%;
  }
  .herbergements .herbergements-item:not(:last-child) {
    margin-bottom: 20px;
  }  
	.herbergements_pop .herbergements-item {
		display: flex;
	}	

	.herbergements .herbergements-item img {
		width: 100%;
		border-radius: 10px 10px 0 0;		
	}  
	.herbergements_pop .herbergements-item img {
		width: 130px;
		height: 134px;
	}  	

	.herbergements-item-infos {
		padding: 0 5px 0 5px;
		width: 100%;
	}   
	.herbergements-infos-title{
		font-size: 2.1vmax;
	} 
	.herbergements_pop .herbergements-infos-title{
		white-space:normal;
	} 	
	.herbergements-infos-price{
		font-size: 1.9vmax;
	} 
	
}


/*
  ############################
 ANIMATIONS
*/
@keyframes anim_heart {
	0% {
		transform: scale(0.9);
	}
	35% {
		transform: scale(1);
	}
	70% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes anim_dog {
	from {
		transform: rotate(25deg);
	}
	to {
		transform: rotate(0deg);
	}
}
