@media screen and (min-width: 360px) and (max-width: 768px) {
	header {
		/* background-color: rgb(1, 83, 56); */
		display: flex;
		flex-direction: column;
	}

	.navbar-top-logo {
		/* background-color: rgba(1, 6, 83, 0.507); */
		margin: 0;
		text-align: center;
	}
	ul.navbar-top-menu {
		display: table;
		width: 100%;
		height: 45px;
	}

	header,
	#section_hebergements {
		padding: 0 0 0 0;
	}

	.row {
		flex-wrap: wrap;
	}
	.herbergements_pop,
	.herbergements {
		border-radius: 0;
		margin-right: 0;
		margin-bottom: 30px;
	}
	.herbergements_pop {
		width: 100%;
	}
	.herbergements-container {
		flex-direction: column;
		margin: 0;
	}

	.herbergements .herbergements-item {
		width: 100%;
	}

	.herbergements .herbergements-item:not(:last-child) {
		margin-bottom: 20px;
	}
	.herbergements .herbergements-item img {
		border-radius: 10px 10px 0 0;
	}
	.herbergements_pop .herbergements-item img {
		/* width: 35%; */
		height: 134px;
	}

	.herbergements-item-infos {
		padding: 0 5px 0 5px;
		position: relative;
		width: 100%;
	}
	.herbergements-infos-title {
		font-size: 2.5vmax;
	}
	.herbergements_pop .herbergements-infos-title {
		white-space: normal;
	}
	.herbergements-infos-price {
		font-size: 2.1vmax;
	}
	.herbergements_pop {
		width: 100%;
	}
	.herbergements_pop .herbergements-item {
		display: flex;
	}
}
