$breakpoint_mobile: 769px;
$breakpoint_mobile_large: 769px;
$breakpoint_tablette: 992px;
$primary: #ff0000;
$color-charte-blue: #0065fc;
$color-charte-lblue: #deebff;
$color-bg-gray: #f2f2f2;

// Google Font - police du site : Raleway
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "./libs/reset.scss";
@import "./libs/responsive.scss";

/*
############## 
*/
body {
	font-family: "Raleway", "Times New Roman", Times, serif; /*utilise Raleway sur l'ensemble du site*/
	box-sizing: border-box;
	line-height: 1.4;
	font-size: 16px;
	padding: 0;
}
h1 {
	font-size: 22px;
	font-weight: bold;
}
h2 {
	font-size: 22px;
	font-weight: bold;
}
a {
	color: #000;
	text-decoration: none;
}

.mtb-auto {
	margin: auto 0 auto 0;
}
.mb-20 {
	margin-bottom: 20px;
}
.mt-8 {
	margin-top: 8px;
}
.section-title {
	margin-bottom: 20px;
}

.table {
	display: table;
}
.table-cell {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

/*********************
	partie logo + menu de navigation 
*********************/
header {
	display: flex; /* permet l'affichage du logo a coté du menu */
	justify-content: space-between; /* Mets le menu sur le côté droit du bloc. */
	a {
		&:hover {
			font-weight: bold; /* Effet semi-gras pour l'ensemble des liens */
		}
	}

	.table-cell {
		/* Ajustement cellule : logo + liens menu
		*/
		width: 200px;
		height: 80px;
	}

	nav .table-cell {
		/* cellule liens
		*/
		border-top: 2px solid transparent; /* Fond transparent pour éviter un décalage lors de l'effet hover */
		border-bottom: 2px solid transparent;
		&:hover {
			border-top: 2px solid black; /*affiche la couleure de la bordure-top*/
		}
	}

	> .table > .table-cell {
		/* cellule logo
		*/
		vertical-align: bottom; /* Affiche le logo en bas de la cellule. */
	}

	img {
		width: 120px; /* Taille en % à voir si une taille fixe et mieux appropriée */
		object-fit: cover; /* éviter la déformation si redimensionnement de l'image ??*/
	}
}

/*********************
	Partie Titre principal + déscription
*********************/
#section_title {
	margin: #{$marg_desktop_tb};

	h1 {
		margin-bottom: 3px;
	}
}

/*********************
	Partie rechercher une ville
*********************/
#section_search {
	margin: #{$marg_desktop_tb};

	form {
		display: flex; /*barre de recherche en ligne = Ico map + input + bt submit*/
		flex-direction: row;
	}
	.form-icon {
		/* block icone localisation 
		*/
		background-color: #e0e0e0;
		border-radius: 10px 0 0 10px;
		padding: 6px 5px 0px 5px;
		border: 2px solid #e0e0e0;
		border-right-width: 0px;
	}
	.form-icon i {
		/* icone localisation 
		*/
		margin-top: 5px;
		font-size: 20px;
	}

	.form-icon-text {
		/* block input text 
		*/
		background-color: #ffffff;
		border: 2px solid #e0e0e0;
		width: 235px;
	}
	.form-icon-text input {
		/* input text 
		*/
		height: 100%;
		border: 0 none;
		font-size: 17px;
		font-weight: bold;
		width: 100%;
		padding: 0 10px 0 0;
	}

	.form-icon-submit {
		/* block bouton submit 
		*/
		background-color: #0065fc;
		padding: 5px 5px 5px 0;
		border-radius: 0 10px 10px 0;
		&:hover button {
			transition: color 0.5s;
			color: black; /* effet hover pour le bouton texte/icone */
		}
	}
	button {
		/* bouton text 
		visible par default en mode desktop
		*
		*/
		cursor: pointer;
		background-color: transparent;
		border: 0;
		font-size: 17px;
		font-weight: bold;
		color: white;
		padding: 7px;
	}
	.btn-submit-icone {
		/* bouton icone loupe 
		*/
		display: none; /* masqué en mode desktop */
	}
}

/* 
  ############################
  Filtres
    jme suis base sur tout un tas de pixel pour gerer les 
    iones + bouton "A CHANGER PAR LA SUITE".
*/
#section_filtres {
	display: flex;
	margin: #{$marg_desktop_tb};

	h2 {
		/* Titre 
		*/
		font-weight: bold;
		font-size: 18px;
		margin: 8px 5px 10px 0;
	}

	.filters-boxes {
		/* Icone + boutons 
		*/
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.filter-boxe-icone {
		/* Icone 
		*/
		position: absolute;
		width: 47px;
		height: 47px;
		font-size: 20px;
		color: $color-charte-blue;
		background-color: $color-charte-lblue;
		border-radius: 50%;
		padding: 14px;
		margin-top: -5px;
		margin-left: -10px;
		z-index: 20;
	}
}

#section_filtres .filter-boxe {
	border: 3px solid $color-bg-gray;
	border-radius: 30px;
	height: 43px;
	margin: 0 10px 10px 10px;
	position: relative;
	z-index: 0;

	button {
		/*
			Bouton transparent pour permette l'acces a la tabulation
				AF: Trouver un moyen plus propre pour le même résulta
		*
		*/
		display: flex; /* permet l'affichage de l'icone */
		border: 0;
		background-color: transparent;
		cursor: pointer;

		padding-left: 45px;
		padding-top: 8px;
		padding-right: 8px;
		font-weight: bold;
		font-size: 16px;
		white-space: nowrap;
	}
	&:hover button {
		color: $color-charte-blue;
	}
	&:hover {
		cursor: pointer;
	}

	&:nth-child(2):hover i,
	&:nth-child(3):hover i {
		animation-name: anim_heart;
		animation-duration: 1s;
		animation-fill-mode: none;
	}
	&:nth-child(1):hover i,
	&:nth-child(4):hover i {
		animation-name: anim_dog;
		animation-duration: 1s;
		animation-fill-mode: none;
	}
}

#section_hebergements {
	margin: #{$marg_desktop_tb};

	.section_hebergements-row {
		/*

		*
		*/
		display: flex; /* rendre le conteneur flexible */
		flex-direction: row-reverse; /* (min-width: 769px) and (max-width: 992px)  = column-reverse */
		justify-content: flex-end; /* Éléments flexibles groupés à la fin */
		flex-wrap: nowrap; /* les éléments flexibles sont disposés sur une seule ligne */
		/* (max-width: 360px) = flex-wrap: wrap */
	}

	.herbergements-container {
		/*
			Block contenant les articles
		*
		*/
		display: flex;
		justify-content: space-between;
	}
	.herbergements-container:not(:last-child) {
		margin-bottom: 20px; /* Pour séparer les différents blocks container */
	}

	.herbergements-item img {
		object-fit: cover; /* adapter l'image rapport hauteur/largeur */
	}

	.herbergements-item-infos {
		/*
			block 
				(title + price) + stars
				herbergements-infos 	
					herbergements-infos-title
					herbergements-infos-price
				herbergements-stars
		*
		*/
		display: flex;
		flex-direction: column;
		justify-content: space-around; /* block title infos séparer du block stars*/
	}
	.herbergements-infos-price {
		font-size: 1vmax;
		font-size: 12px;
		p {
			display: inline;
			font-weight: bold;
		}
	}
	.herbergements-infos-title h3 {
		font-weight: 750;
		font-size: 1.15vmax;
		object-fit: fill;
		white-space: nowrap;
	}

	.herbergements-stars {
		font-size: 0.85vmax;
	}
	.star-gray {
		color: #dcdfe0;
	}
	.star-blue {
		color: #0065fc;
	}
}
#section_hebergements .herbergements {
	/*
		BLOCK PRINCIPAL 
			partie Hébergements à Marseille
		backgroudColor de la couleur définit par la charte
		radius en mode desktop et tablette
	*
	*/
	background-color: #f2f2f2;
	width: 100%;
	height: auto;
	border-radius: 20px; /* (min-width: 360px) and (max-width: 768px) = 0  */
	padding: 3%;
	margin-right: 20px; /* (min-width: 360px) and (max-width: 768px) = 0  */

	.herbergements-item {
		width: 30%;
		img {
			width: 100%;
			height: 120px;
			border-radius: 5px 5px 0 0;
		}
	}
}
#section_hebergements .herbergements_pop {
	/*
		BLOCK PRINCIPAL 
			Les plus populaires
		backgroudColor de la couleur définit par la charte
		radius en mode desktop et tablette
	*
	*/
	background-color: #f2f2f2;
	width: 40%;
	height: auto;
	border-radius: 20px; /* (min-width: 360px) and (max-width: 768px) = 0  */
	padding: 3%;

	.herbergements-container {
		/*
			Block contenant les articles
		*
		*/
		flex-direction: column; /* affichage column en mode desktop */
	}
	.herbergements-item:not(:last-child) {
		margin-bottom: 20px; /* margin-bottom pour separer les items en mode desktop */
	}
	.herbergements-item {
		a {
			display: flex; /* afficher le block infos a droite du block img */
		}
		img {
			width: 32%;
			min-width: 100px;
			height: 120px;
			border-radius: 5px 0px 0px 5px;
		}
	}

	.herbergements-item-infos {
		padding: 0 5px 0 5px;
	}
	.herbergements-infos-title h3 {
		object-fit: none;
		white-space: normal;
		font-size: 1.13vmax;
		font-size: 13px;
	}
}
.herbergements-container {
	.herbergements-item {
		/* 
			block: thumb + titre + prix de la nuit + etoile
			desktop   petites vignette (W>H) - hebergments (x3 row) + hebergement pop (x1 col)
			tablette  petites vignette (W>H) - hebergments (x3 row)
			mobile    petites vignette (W>H) (x1 col 100% width)
		*
		*/
		background-color: #ffffff;
		width: 100%;
		padding: 5px;
		border-radius: 10px;
		box-shadow: 0.5px 0.5px 4px 0.4px rgba(87, 87, 87, 0.301);
	}
	.herbergements-item a {
		text-decoration: none;
		color: black;
	}
	.herbergements-item:hover {
		transition: 0.6s;
		box-shadow: 0.1px 0.1px 5px 0.8px rgba(87, 87, 87, 0.781);
	}
}

/*********************
	QUERIES
*********************/


@media #{$screen_tablette} {
	header {
		display: block; /* affiche le menu en dessous du logo */

		.table {
			width: 100%;
		}
		.table-cell {
			/* ajustement des block liens pour tablette et mobile 
			*/
			height: 45px;
		}
		nav .table-cell {
			border-bottom: 2px solid rgb(161, 161, 161); /*afficher la couleur de la border-bot*/
			&:hover {
				border-top: 2px solid transparent; /* désactive le hover de la bordure-top */
				border-bottom: 2px solid black; /* active le hover de la bordure-bot */
			}
		}
		img {
			width: 150px;
		}
	}
	#section_filtres {
		display: block;
	}
	#section_hebergements {
		.section_hebergements-row {
			flex-direction: column-reverse;
		}
		.herbergements {
			margin-bottom: 20px;
		}
		.herbergements-infos-title h3 {
			font-size: 1.5vmax;
			white-space: normal;
			object-fit: fill;
		}
	}
	#section_hebergements .herbergements_pop {
		width: 100%;
		.herbergements-container {
			flex-direction: row;
		}
		.herbergements-item:not(:last-child) {
			margin-right: 20px;
			margin-bottom: 0;
		}
	}
}

@media #{$screen_mobile} {
	/* -- */
	#section_search {
		.btn-submit-text {
			display: none; /* masque le bouton (texte) rechercher */
		}
		.btn-submit-icone {
			display: block; /* affiche le bouton (icone) rechercher */
		}
		.form-icon-submit {
			/* ajustement de la position pour avoir un carré arrondi 
			*/
			padding: 5px;
			border-radius: 10px;
			margin-left: -5px;
		}
	}
	#section_hebergements {
		margin: 0 0 0 0;

		.section_hebergements-row {
			flex-direction: column;
			flex-wrap: wrap;
		}
		.herbergements_pop,
		.herbergements {
			border-radius: 0;
			margin-right: 0;
			.herbergements-container {
				flex-direction: column;
				margin: 0;
				&:not(:last-child) {
					margin-bottom: 20px;
				}
			}
			.herbergements-item {
				&:not(:last-child) {
					margin-bottom: 20px;
				}
			}			
		}
		.herbergements {
			background-color: transparent;
			.herbergements-item {
				width: 100%;
				img {
					width: 100%;
					border-radius: 10px 10px 0 0;
				}
			}
		}
		.herbergements_pop {
			width: 100%;
			.herbergements-item {
				&:not(:last-child) {
					margin-bottom: 20px;
				}
			}
		}
	}
}

/*
  ############################
 ANIMATIONS
*/

@keyframes anim_heart {
	0% {
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
	}
	35% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	70% {
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes anim_dog {
	from {
		-webkit-transform: rotate(25deg);
		transform: rotate(25deg);
	}
	to {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}

/*
		<section>
			<div class="card">
        <div class="card-actions">
            <div class="card-action">Ok</div>
            <div class="card-cancel">Annuler</div>
        </div>			
    </div>
		<div class="card-2" >
			<div class="card-actions">
				<div class="card-action">Ok</div>
				<div class="card-cancel">Annuler</div>				
				<div class="card-img">
					<img src="./images/hebergements/au_coeur_de_leau.jpg" alt="">
					<img src="./images/hebergements/au_coeur_de_leau.jpg" alt="">
				</div>
			</div>			
		</section>
		
%btn {
	padding: em(5) em(12);
	border-radius: 3px;
}

.btn {
	@extend %btn;
	text-decoration: none;
	background: $primary;
	color: #FFF;

	&:hover {
			background: rgba($primary, 0.5);
	}
}
.btn-danger {
	@extend .btn;

	background: rgb(179, 77, 77);
	&:hover {
			background: rgb(116, 33, 33);
	}
}
%shadow {
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.card {
	@extend %shadow;
	padding: 10px;
	border-radius: 3px; 
	position: relative;
	background: #FFF;
	@include triangle($color: #FFF, $size: 15px)
	
}
.card-2 {
	@extend %shadow;
	padding: 10px;
	margin: 0 20px 0 20px;
	border-radius: 3px; 
	position: relative;
	background: white;
	.card-img {
		position: absolute;
		height: 200px;
		background-color: #ff0000;
		bottom: -200px;
		left: 0;
	}
	img {
		height: 200px;
		clip-path: polygon(100% 100%, 100% 0%, 0% 0%);
	}
	img:last-child{
		position: absolute;
		left: 0;
		clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
		opacity: .8;
	}
	margin-top: 200px; 
	margin-bottom: 200px; 
}
.card-2::after{
	content:'';
	width: 0;
	height: 0;
	border-bottom: 30px solid #FFFF00;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	position: absolute;
	top: 30px * -1;
	left: calc(50% - 30px);
}
.card-action {
	@extend .btn;
}

.card-cancel {
	@extend .btn-danger;
}


*/
