@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

/* 
  navbar
    Initialisation des variables 
    Réinitialisations CSS standard et le style de base
*/
:root {
	--navbar-bg-color: #000000;
	/* --navbar-bg-color: hsl(0, 0%, 15%); */
	--navbar-text-color: hsl(0, 0%, 85%);
	--navbar-text-color-focus: white;
	--navbar-bg-contrast: hsl(0, 0%, 25%);
	--navbar-height: 64px;
	--bg-dark: #dfdede48;
	--color-body-bg: #ffffff;
	--color-body: #09003a;
	--color-hx: #09003a;
	--color-h7: #fefeff;
	--color-h7-bg: rgba(155, 155, 155, 0.466);
	--color-footer-bg: #00000075;
	--color-container-contact-bg: #cccccc;
	--contact-bg-light: #ffffff0c;
	--color-container-img-bg: rgba(14, 14, 14, 0.466);
	--color-container-img: #09003a;
	--color-container-contact-bg-light: #d6d6d623;
	--color-container-contact: #09003a;
	--color-container-contact-2: #adadad;
	--color-container-contact-hover: #000000;
	--color-container-contact-shadow: 2px 2px 2px #000000c4;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


html {
	width: 100%;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
header {
	display: flex;
	position: fixed; /* fixer la navbar surviewport */
	left: 0;
	right: 0;
	z-index: 3;
	height: 13%;
}
main {
	position: absolute;
	padding: 0;
	margin: 0;  
	left: 0;
	/* top: 0; */
	/* padding-top: 180px; */
  top: 20.8%;
}
body {
	background: var(--color-body-bg);
	color: var(--color-body);
	font-size: 16px;
	font-family: "Titillium Web", "Helvetica", "sans-serif";
	line-height: 28px;
	
}


.footer-p {
	background-color: var(--color-footer-bg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 20px;
	color: var(--color-hx);
	font-weight: 300;
	font-family: "Montserrat", "Titillium Web", sans-serif;
	line-height: 1.5em;
	/* text-shadow: 2px 2px #333; */
}
h1 {
	font-size: 48px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 20px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
h3.spec {
	color: #fff;
	font-size: 24px;
	font-weight: 300;
	line-height: 1em;
	margin-bottom: 30px;
	text-transform: uppercase;
}


.mb-01e {
	margin-bottom: 0.1em;
}
.mb-1e {
	margin-bottom: 1em;
}
.mt-1e {
	margin-top: 1em;
}
.mt-2e {
	margin-top: 2em;
}
.bg-dark {
	background-color: var(--bg-dark);
}
.bg-light {
	background-color: var(--contact-bg-light);
}
.pad-1e {
	padding: 1em;
}
.tc {
	text-align: center;
}


/*
[class*="span"] {
	float: left;
	min-height: 1px;
	margin-left: 20px;
}
*/

/* 
  ######################################################################
  TEXT  
  ######################################################################  
*/
.title-page {
	text-align: center;
	padding-bottom: 1em;
}
.title-page .title {
	font-size: 3.2em;
	margin: 0 0 0.1em;
	/* text-shadow: 2px 2px #000000; */
}
.title-description {
	width: 99%;
	font-size: 1.4em;
	font-weight: 200;
	text-align: justify;
	margin: 0;
	padding: 0 .5em 0 .5em;
}

#gallery_2 .title-description {
	text-align: center;
}
#gallery_1 .title-description {
	text-align: center;
}



/* 
  ######################################################################
  SHOP  
  ######################################################################  
*/
.boutique-pres {
	padding: 0;
	margin: 0;
  max-height: 645px;
}
.boutique-pres .title-description {
	text-align: center;
}
.default_backgroud_img {
	transition-duration: 650ms;
	border: 1px solid rgba(255, 255, 255, 0.541);
	border-radius: 20px 20px 0 0;
	max-height: 500px;
	height: auto;
	object-fit: cover;
	width: 100%;
	background-color: transparent;
}
.br-no {
	border-radius: 0px 0px 0px 0px;
}

.boutique-pres > .title-page > h2 {
	display: none;
}

/* 
  ######################################################################
  CONTACT  
  ######################################################################  
*/
.container-contact {
	/* background-color: var(--color-container-contact-bg); */
	padding: 0;
	margin: 0;
	z-index: 1;
}

.container-contact a {
	text-decoration: none;
	color: inherit;
}
.container-contact a:hover {
	color: var(--color-container-contact-hover);
	text-decoration: underline;
}

.container-contact .row {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	padding-bottom: 0.4em;
}

.container-contact-details {
	width: 350px;
	border-radius: 20px 20px 20px 20px;
	padding: 0.4em;
}

.contact-details {
	text-align: center;
	height: 10em;
	background-color: var(--color-container-contact-bg-light);
	border-radius: 20px 20px 20px 20px;
	border: #0000005d 0.1px solid;
	box-shadow: var(--color-container-contact-shadow);
	padding: 1em;
}

.contact-details h3 {
	color: var(--color-container-contact);
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 15px;
	line-height: 1em;
	text-transform: uppercase;
}

.contact-details p {
	color: var(--color-container-contact-2);
}
.contact-details p:hover {
	color: var(--color-container-contact-hover);
}

.contact-details a {
	color: var(--color-container-contact-2);
}

.container-googlemap {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px 20px 20px 20px;
	width: 60%;
	transition: 650ms;
	margin: 0 auto auto auto;
	padding: 0 0.4em 1em 0.4em;
}
.container-googlemap iframe {
	transition: 650ms;
	border-radius: 20px 20px 20px 20px;
	border: #0000003d 2px solid;
	box-shadow: var(--color-container-contact-shadow);
	width: 100%;
	height: 380px;
}

/*
 ######################################################################
 Gallery
 ######################################################################
*/

.gallery {
	padding: 0;
	margin: 0;
	padding-bottom: 1em;
}

.container-img {
	/* https://www.zonecss.fr/proprietes-css/display-css.html#display-css-propriete */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap; /* dépende de la valeur flex de l'attribut display */
	width: 90%;
	margin: auto;
}
.container-img a:hover {
	text-decoration: none;
}

.grid-item {
	transform: translate3d(0px, 0px, 0px);
	margin: 0 0.4em 0 0;
  
}
.grid-item img {
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0 0 0 0;
}

.grid-item-img-legend {
	margin: 0 0 20px;
	color: var(--color-hx);
	font-weight: 300;
	font-family: "Titillium Web", sans-serif;
	line-height: 1.5em;  
	/*
    Un élément positionné avec position: 
      absolute va être positionné par rapport à son parent le plus proche positionné (avec une valeur de position différente de static).  
    Le point de référence pour les propriétés top, left, bottom et right va ainsi être le côté de l’élément parent liée à la propriété (côté gauche pour left, supérieur pour top , etc.).       
  */
	position: absolute; /* fair en sorte d'avoit un tooltip au bas de l'image */
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
  
	color: var(--color-h7);
	font-size: 15px;
	background-color: var(--color-h7-bg);
	margin-bottom: 8px;
	font-weight: bold;
  text-shadow: 2px 2px 2px rgb(8, 8, 8);
}
.grid-item-img-overlay {
  position: absolute; /* fair en sorte d'avoit un tooltip au bas de l'image */
  top: 0;
  bottom:8.8%;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2em;
  /* background-color: rgba(36, 35, 35, 0.404); */
  /* background-color: rgba(255, 4, 4, 0.404); */
  display: none;
}
.grid-item a:hover .grid-item-img-overlay{
  display: flex;
}

/*
 ######################################################################
 FIXED TOP NAVBAR
 ######################################################################
*/



#navbar {
	--navbar-height: 64px; /* Initialisation variable */
	position: fixed; /* fixer la navbar surviewport */
	height: var(--navbar-height);
	background-color: var(--navbar-bg-color);
	left: 0;
	right: 0;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.589);
	z-index: 20;
	top: 12.5%;
}

.navbar-container {
	/* taille sidebar top 
    aligner au centre en modifiant la largeur max

    max-width: 1000px;
  */
	width: 100%;
	padding: 0 1em 0 1em;
	margin: 0;
	display: flex; /* permettre l'alignements des items */
	justify-content: space-between; /* centrer les element apres le logo du site */
	height: 100%;
	align-items: center; /* centrer les elements */
}

.navbar-item {
	margin: 0.3em;
	width: 90%;
	/* border: 1px solid lightgray; */
}

.home-link,
.navbar-link {
	color: var(--navbar-text-color);
	text-decoration: none;
	display: flex;
	font-weight: 400;
	align-items: center;
	cursor: pointer;
}

.home-link:is(:focus, :hover) {
	color: var(--navbar-text-color-focus);
}

.navbar-link {
	justify-content: center;
	width: 100%;
	padding: 0.4em 0.8em;
	border-radius: 5px;
}

.navbar-link:is(:focus, :hover) {
	color: var(--navbar-text-color-focus);
	background-color: var(--navbar-bg-contrast);
}

.navbar-logo {
	transition: 650ms;
	background-color: var(--navbar-text-color-focus);
	background-image: url("../../asset/img/logo.jpg");
	border-radius: 50%;
	width: 150px;
	height: 30px;
	margin-inline-start: 0.5em;
	margin-inline-end: 0.5em;
	cursor: pointer;
}

/*
  Navbar Toggle button
*/
#navbar-toggle {
	cursor: pointer;
	border: none;
	background-color: transparent;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
/*
  Navbar Toggle button
    ligne interieur du bouto (dessin menu)
*/
.icon-bar {
	display: block;
	width: 25px;
	height: 4px;
	margin: 2px;
	background-color: var(--navbar-text-color);
}

#navbar-toggle:is(:focus, :hover) .icon-bar {
	background-color: var(--navbar-text-color-focus);
}

/*
GESTION DU MENU
  aria-controls = "navbar-menu"
  aria-label    = "Toggle menu"
  aria-expanded = "false"
CONTROLER VIA
  type          = "button"
  id            = "navbar-toggle"
*/

/*
si le panneau est déplier (aria-expanded)
 apllique un angle de 45deg sur 1er et dernier ligne 
*/
#navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
	position: absolute; /* positioné par rapport au point haut guauche de l'element parent */
	margin: 0;
	width: 30px;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
	transform: rotate(45deg); /* pour former la croix */
}

#navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
	opacity: 0; /* masque la ligne du millieu */
}

#navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
	transform: rotate(-45deg); /* pour former la croix */
}

/*
  elements du menu
*/
#navbar-menu {
	position: fixed;
	top: var(--navbar-height);
	bottom: 0;
	opacity: 0;
	visibility: hidden;
	left: 0;
	right: 0;
}

#navbar-toggle[aria-expanded="true"] + #navbar-menu {
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 1;
	visibility: visible;
}

.navbar-links {
	list-style: none;
	position: absolute;
	background-color: var(--navbar-bg-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	left: 0;
	right: 0;
	margin: 1.4rem;
	border-radius: 5px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
	padding: 1em;
}

/*
 ######################################################################
 NIGHTMODE TOGGLE
 ######################################################################
*/

.container-nightmode {
	padding: 3em;
	transition: 650ms;
}
.container-nightmode-content {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 70%;
	margin: auto;
	margin-top: 1.4em;
	transform: translateY(5%);
}
.nightmode-label,
.nightmode-toggle {
	height: 2.8rem;
	border-radius: 100px;
}
.nightmode-label {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 100px;
	position: relative;
	cursor: pointer;
}
.nightmode-toggle {
	position: absolute;
	width: 50%;
	background-color: #fff;
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
	transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.nightmode-names {
	font-size: 90%;
	font-weight: bolder;
	width: 100%;
	height: 100%;
	padding: 0 20% 0 20%;
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	user-select: none;
}
.nightmode-dark {
	opacity: 0.3;
}

/* -------- Switch Styles ------------*/
#switch_nightmode[type="checkbox"] {
	display: none;
}
#switch_nightmode[type="checkbox"]:checked
	+ .container-nightmode
	.nightmode-toggle {
	transform: translateX(100%);
	background-color: #34323d;
}
#switch_nightmode[type="checkbox"]:checked
	+ .container-nightmode
	.nightmode-dark {
	opacity: 1;
	color: var(--color-hx);
}
#switch_nightmode[type="checkbox"]:checked
	+ .container-nightmode
	.nightmode-light {
	opacity: 0.3;
}

