
@media only screen and (max-width: 450px) {
  .title-page .title {
    transition-duration: 650ms;
    font-size: 2.2em;
  }
  .title-description {
    transition-duration: 650ms;
    font-size: 1.2em;
  }
}
@media only screen and (max-width: 400px) {
  .title-page .title {
    transition-duration: 650ms;
    font-size: 1.5em;
  }
  .title-description {
    transition-duration: 650ms;
    font-size: 1em;
  }
}
@media screen and (max-width: 430px) { 

  .grid-item img {
    height: 110px;
    width: 110px;
    object-fit: cover;      
  }  
  .grid-item-img-legend {
    /* display: none; */
    font-size: 12px;
    left: 0;
    bottom: 0;
    text-shadow: none;
  }
  .grid-item-img-overlay{
    top: 0;
    bottom:0;
    left: 0;
    right: 0;    
  } 
  .grid-item a:hover .grid-item-img-legend{
    background-color:transparent;
  } 
  .grid-item a:hover .grid-item-img-overlay{
    background-color: rgba(36, 35, 35, 0.404);
  } 

   
}
@media screen and (max-width: 767px) and (min-width: 430px) { 
  .grid-item img {
    height: 180px;
    width: 180px;
    object-fit: cover;      
  }
  .grid-item-img-overlay {
    bottom:12%;
  }
     
}

@media screen and (max-width:767px) {
  
  .container-contact-details {
    width:100%;
  }
  .container-contact .row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    flex-wrap:wrap;
  }
  .container-googlemap {
    width: 100%;
  }
  .contact-details {
    height: auto;
  }
  
}

@media screen and (max-width: 700px) { 
  header {
    display: none;
  } 
  main {
    /* padding-top: 75px; */
    top: 9%;
  }  

  #navbar {
    top: 0;
  }

  .boutique-pres > .title-page > h2 {
    display: block;
  } 
  .navbar-item {
    border: 1px solid lightgray;
  }
  .app{padding: 1.5em;}
  
}

@media screen and (min-width: 700px) {
  #navbar-toggle,
  #navbar-toggle[aria-expanded='true'] {
    display: none;
  }

  #navbar-menu,
  #navbar-toggle[aria-expanded='true'] + #navbar-menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
    height: 100%;
  }

  .navbar-links,
  #navbar-toggle[aria-expanded='true'] + #navbar-menu .navbar-links {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: static;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
}



