
@media(min-width:1200px) {
  .row {
   margin-left:-30px;
   *zoom:1
  }
  .row:before,
  .row:after {
   display:table;
   line-height:0;
   content:""
  }
  .row:after {
   clear:both
  }
 
  .container {
   width:1170px
  }
 
 [class*="span"] {
   float:left;
   min-height:1px;
   margin-left:30px;
  }
  .span4 {
   width:370px
  }
 }
 @media(min-width:768px) and (max-width:979px) {
   .container {
     margin-right:auto;
     margin-left:2em;
   }
   .container .span4:not(:last-child) {margin-bottom: 1em;}
}

@media(max-width:979px) {
  .container {
      width:auto;
      padding:0;
  }
}

@media(max-width:767px) {
  .container {
   width:auto
  }
  .row {
   margin-left:0
  }
  [class*="span"],
  .span12 {
   width:94%;
   -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
   box-sizing:border-box;
  }
  .container-contact .container .span4:not(:last-child) {margin-bottom: 1em;}
}

@media(max-width:550px) {
  .container-contact .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container-contact .span4 {
    /* background-color: aquamarine; */
    margin-right: 1em;
    width: 80%;
  }
}

@media only screen and (max-width: 450px) {
    .title-page .title {
        transition-duration: 650ms;
        font-size: 2.2em;
      }
      .title-description {
        transition-duration: 650ms;
        font-size: 1.2em;
      }
}

@media screen and (max-width: 700px) { 
  header > img {
    display: none;
  } 
  #navbar {
    top: 0;
  }
  main {
    transition: 500ms;
    padding-top: 50px;
  }  
  .boutique-pres > .title-page > h2 {
    display: block;
  } 
  .navbar-item {
    border: 1px solid lightgray;
  }
     
}
@media screen and (min-width: 700px) {
  #navbar-toggle,
  #navbar-toggle[aria-expanded='true'] {
    display: none;
  }

  #navbar-menu,
  #navbar-toggle[aria-expanded='true'] + #navbar-menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
    height: 100%;
  }

  .navbar-links,
  #navbar-toggle[aria-expanded='true'] + #navbar-menu .navbar-links {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: static;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
}

